<!DOCTYPE html>
<html>
  <head>
    <title>TreatPal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'treat_icon.ico' %>

    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Poppins|Raleway|Roboto" rel="stylesheet">

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCBFLJ9LMBiWloGzJd_ZVchHCz6yMGOjr0" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
